In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('data.csv')

In [22]:
df.head()

,Testperson (number),Gender (M/F),Age (years),Medicin (n),"Smokingstatus (Yes=1, No=2, previously=3)",Packyears,Activitylevel work (1-4),Activitylevel sparetime (1-4),B1SD,B1SND,...,B2SEA,SHD,SHND,S1D,S1ND,RHD,RHND,RFD,RFND,Health status
0,1,1,84,8.0,3,18.0,NaN,1.0,NaN,NaN,...,151.353188,17.891122,16.689883,132.534142,144.655472,701.666667,780.333333,1009.000000,962.666667,1
1,2,2,37,1.0,2,NaN,2.0,2.0,30.005696,28.617456,...,47.072936,21.860863,21.053753,136.239944,126.056396,470.666667,497.000000,737.666667,692.333333,0
2,3,2,62,0.0,1,10.0,NaN,2.0,55.086227,50.806082,...,72.314729,14.200777,12.049614,63.481850,60.573076,638.666667,638.000000,878.000000,786.000000,0
3,4,2,85,4.0,3,2.0,NaN,2.0,NaN,NaN,...,95.972763,10.797206,11.069068,53.533747,63.068060,708.000000,638.666667,902.333333,1373.666667,1
4,5,1,73,5.0,3,15.0,NaN,3.0,NaN,NaN,...,145.303879,16.796240,16.014816,114.348866,107.528172,607.333333,652.000000,923.000000,805.000000,1

In [23]:
df.describe()

,Testperson (number),Gender (M/F),Age (years),Medicin (n),Packyears,Activitylevel work (1-4),Activitylevel sparetime (1-4),B1SD,B1SND,B1EAD,...,B2SEA,SHD,SHND,S1D,S1ND,RHD,RHND,RFD,RFND,Health status
count,354.000000,354.000000,354.000000,267.000000,234.000000,222.000000,346.000000,238.000000,238.000000,238.000000,...,352.000000,354.000000,354.000000,349.000000,349.000000,353.000000,353.000000,350.000000,350.000000,354.000000
mean,177.867232,1.593220,55.096045,1.782772,10.452991,2.009009,2.575145,47.140028,46.978021,156.278554,...,89.086335,23.709821,21.984916,149.985359,146.088996,636.637394,638.619452,889.061905,883.430476,0.372881
std,102.738629,0.491928,20.800192,2.359910,14.830441,0.970100,0.828035,16.569882,16.460313,70.270031,...,55.649260,9.030845,8.638627,66.387426,64.508381,204.370540,187.543856,905.649233,474.851489,0.484255
min,1.000000,1.000000,20.000000,0.000000,0.000000,0.000000,1.000000,19.880834,20.687702,45.936049,...,15.575628,7.855098,6.554947,18.777239,0.767997,379.333333,386.333333,494.666667,490.333333,0.000000
25%,89.250000,1.000000,36.000000,0.000000,0.000000,2.000000,2.000000,35.221545,35.800353,111.453447,...,52.901474,17.214276,15.794429,100.522163,97.505581,518.000000,515.666667,688.500000,692.500000,0.000000
50%,177.500000,2.000000,57.000000,1.000000,2.000000,2.000000,3.000000,44.376556,43.977013,141.521271,...,78.124530,21.691526,20.237298,144.653709,136.335094,587.666667,596.666667,784.833333,795.666667,0.000000
75%,266.750000,2.000000,72.000000,3.000000,15.000000,3.000000,3.000000,54.918234,54.957480,185.803057,...,110.564651,28.636699,26.327364,192.639511,190.326553,694.000000,705.666667,928.500000,904.083333,1.000000
max,355.000000,2.000000,99.000000,17.000000,86.000000,4.000000,4.000000,130.994654,122.651566,513.899434,...,633.189651,55.475651,55.603062,326.142227,329.938904,2076.000000,1845.000000,17094.333333,6161.000000,1.000000

In [34]:
# You should check your data for any missing or invalid values and clean the data before proceeding.
df.isnull().sum()

Testperson (number)                          0
Gender (M/F)                                 0
Age (years)                                  0
Medicin (n)                                  0
Smokingstatus (Yes=1, No=2, previously=3)    8
Packyears                                    0
Activitylevel work (1-4)                     0
Activitylevel sparetime (1-4)                0
B1SD                                         0
B1SND                                        0
B1EAD                                        0
B1EAND                                       0
B2BS                                         0
B2BAE                                        0
B2SS                                         0
B2SEA                                        0
SHD                                          0
SHND                                         0
S1D                                          0
S1ND                                         0
RHD                                          0
RHND                                         0
RFD                                          0
RFND                                         0
Health status                                0
dtype: int64

In [33]:
#replace missing value with mean
df.fillna(df.mean(), inplace=True)

Linear Regression

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np

# Separate the target variable from the features
X = df[['B1SD', 'B1SND', 'B1EAD', 'B1EAND', 'B2BS', 'B2BAE', 'B2SS', 'B2SEA', 'SHD', 'SHND', 'S1D', 'S1ND', 'RHD', 'RHND', 'RFD', 'RFND']]
y = df['Health status']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
print('R^2 Score:', r2_score(y_test, y_pred))

Mean Squared Error: 0.129201845513912
R^2 Score: 0.46526559668667467

Logistic Regression

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score



# Separate the target variable from the features
X = df[['B1SD', 'B1SND', 'B1EAD', 'B1EAND', 'B2BS', 'B2BAE', 'B2SS', 'B2SEA', 'SHD', 'SHND', 'S1D', 'S1ND', 'RHD', 'RHND', 'RFD', 'RFND']]
y = df['Health status']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train a logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('R^2 Score:', r2_score(y_test, y_pred))

Accuracy: 0.9014084507042254
RMSE: 0.31399291281137964
R^2 Score: 0.5919540229885059

Polynomial Regression:

In [37]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

# Separate the target variable from the features
X = df[['B1SD', 'B1SND', 'B1EAD', 'B1EAND', 'B2BS', 'B2BAE', 'B2SS', 'B2SEA', 'SHD', 'SHND', 'S1D', 'S1ND', 'RHD', 'RHND', 'RFD', 'RFND']]
y = df['Health status']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create polynomial features
poly_features = PolynomialFeatures(degree=2)
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.transform(X_test)

# Train a polynomial regression model
model = LinearRegression()
model.fit(X_train_poly, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test_poly)

# Evaluate the performance of the model
print('R^2 score:', r2_score(y_test, y_pred))
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

R^2 score: -0.31401398706754
RMSE: 0.5634628524435005

Support Vector Regression

In [38]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
# Separate the target variable from the features
X = df[['B1SD', 'B1SND', 'B1EAD', 'B1EAND', 'B2BS', 'B2BAE', 'B2SS', 'B2SEA', 'SHD', 'SHND', 'S1D', 'S1ND', 'RHD', 'RHND', 'RFD', 'RFND']]
y = df['Health status']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train an SVR model
model = SVR(kernel='rbf', C=1.0, epsilon=0.1)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's performance
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print('RMSE:', rmse)
print('R^2 Score:', r2)

RMSE: 0.29319378650761535
R^2 Score: 0.6442221275142207

Random ForestRegressor

In [39]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

# Separate the target variable from the features
X = df[['B1SD', 'B1SND', 'B1EAD', 'B1EAND', 'B2BS', 'B2BAE', 'B2SS', 'B2SEA', 'SHD', 'SHND', 'S1D', 'S1ND', 'RHD', 'RHND', 'RFD', 'RFND']]
y = df['Health status']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
print('R^2 Score:', r2_score(y_test, y_pred))
print('RMSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

R^2 Score: 0.7245573070607554
RMSE: 0.2579769615218699